<div class="properti-card">
  <img class="property-card-image" src="{{property.imageUrl}}" alt="My First App">
  <span *ngIf="property.label" class="{{property.label.toLowerCase()}}">{{property.label}}</span>
  <div class="property-card-content">
    <mat-card-title>{{property.title}}</mat-card-title>
    <span class="card-adress">
      <mat-icon aria-hidden="true" class="mat-icon">location_on</mat-icon>{{property.adress}}
    </span>
    <span class="card-price">${{property.price}}</span>
    <div class="property-card-details">
      <p class="card-property-size">Property size<span style="float: right;">{{property.size}} m²</span></p>
      <p class="card-property-size">Bedrooms<span style="float: right;">{{property.bedrooms}}</span></p>
      <p class="card-property-size">Bathrooms<span style="float: right;">{{property.bathrooms}}</span></p>
      <p class="card-property-size">Garages<span style="float: right;">{{property.garages}}</span></p>
    </div>
    
  </div>
  <div class="property-card-action">
    <ng-template #user>
      <button (click)="likeHandler(property._ownerId,property._id)" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button routerLink="/properties/details/{{property._ownerId}}/{{property._id}}" mat-raised-button
      color="primary" class="card-btn">DETAILS</button>
    </ng-template>
    
    <ng-template #admin>
      <div style="display: flex; margin-top: 20px; justify-content: center;">
      <button *ngIf="myProperties" routerLink="/dashboard/my-properties/edit/{{property._ownerId}}/{{property._id}}"  mat-raised-button color="primary" class="admin-btns"><mat-icon>edit</mat-icon> EDIT</button>
      <button *ngIf="myProperties" (click)="deleteProperty(property._ownerId, property._id)" mat-raised-button color="warn"
      class="admin-btns"><mat-icon>delete</mat-icon> DELETE</button>
      
      <button *ngIf="favorite" routerLink="/properties/details/{{property._ownerId}}/{{property._id}}" mat-raised-button color="primary" class="admin-btns">DETAILS</button>
      <button *ngIf="favorite" (click)="unLikeHandler(property._id)" mat-raised-button color="warn"
      class="admin-btns"><mat-icon>delete</mat-icon> UNLIKE</button>
    </div>
    </ng-template>

      <ng-container *ngTemplateOutlet="myProperties || favorite ? admin : user "></ng-container>

  </div>

</div>