<div class="container">
  <div class="errors" *ngIf="error">
    <h2>{{error}} <a routerLink="/login">Login</a></h2>
  </div>
  <div class="create-wrapper">
    <h2>Add Property</h2>
    <div class="login-form">

      <form #form="ngForm" (ngSubmit)="onCreateSubmit(form)">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="title" name="title" #titleInput="ngModel" ngModel required>
            <mat-icon matSuffix>title</mat-icon>
            <mat-hint *ngIf="titleInput.invalid && titleInput.touched" class="formError">title is required!</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Adress</mat-label>
            <input matInput placeholder="Adress" name="adress" #adressInput="ngModel" ngModel required>
            <mat-icon matSuffix>location_on</mat-icon>
            <mat-hint *ngIf="adressInput.invalid && adressInput.touched" class="formError">Adress is required!</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Price" name="price" #priceInput="ngModel" ngModel required>
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <mat-hint *ngIf="priceInput.invalid && priceInput.touched" class="formError">Price is required!</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Property size - m²</mat-label>
            <input matInput placeholder="Property size" name="size" #sizeInput="ngModel" ngModel required>
            <mat-icon matSuffix>photo_size_select_small</mat-icon>
            <mat-hint *ngIf="sizeInput.invalid && sizeInput.touched" class="formError">Property size is required!</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Bedrooms</mat-label>
            <input matInput placeholder="Bedrooms" name="bedrooms" #bedroomsInput="ngModel" ngModel required>
            <mat-icon matSuffix>airline_seat_individual_suite</mat-icon>
            <mat-hint *ngIf="bedroomsInput.invalid && bedroomsInput.touched" class="formError">Bedrooms is required!</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bathrooms</mat-label>
            <input matInput placeholder="Bathrooms" name="bathrooms" #bathroomsInput="ngModel" ngModel required>
            <mat-icon matSuffix>wc</mat-icon>
            <mat-hint *ngIf="bathroomsInput.invalid && bathroomsInput.touched" class="formError">Bathrooms is required!</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Garages</mat-label>
            <input matInput placeholder="Garages" name="garages" #garagesInput="ngModel" ngModel required>
            <mat-icon matSuffix>drive_eta</mat-icon>
            <mat-hint *ngIf="garagesInput.invalid && garagesInput.touched" class="formError">Garages is required!</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput placeholder="Image URL" name="imageUrl" #imageUrlInput="ngModel" ngModel required>
            <mat-icon matSuffix></mat-icon>
            <mat-hint *ngIf="imageUrlInput.invalid && imageUrlInput.touched" class="formError">Image URL is required!</mat-hint>
          </mat-form-field>
        </div>
        <label id="label"><h3>Pick property label</h3></label>
        <div>
          <mat-radio-group aria-labelledby="label" name="label" ngModel requred>
            <mat-radio-button class="radio-btn" *ngFor="let label of labels" [value]="label">
              {{label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div style="padding: 30px;">
          <label id="category"><h3>Select category</h3></label>
          <div >
            <mat-radio-group aria-labelledby="category" name="category" ngModel requred>
              <mat-radio-button class="radio-btn" *ngFor="let category of categories" [value]="category" >
                {{category}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <button class="create-btn" mat-raised-button color="primary"> Create </button>
      </form>
    </div>
  </div>
</div>