<div class="container">
  <div class="create-wrapper">
    <h2>Add Property</h2>

    <div class="login-form">

      <form #form="ngForm" (ngSubmit)="onCreateSubmit(form)">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>title</mat-label>
            <input matInput placeholder="title" name="title" #titleInput="ngModel" ngModel required>
            <mat-icon matSuffix>title</mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Adress</mat-label>
            <input matInput placeholder="Adress" name="adress" #adressInput="ngModel" ngModel required>
            <mat-icon matSuffix>location_on</mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Price" name="price" #priceInput="ngModel" ngModel required>
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Property size</mat-label>
            <input matInput placeholder="Property size" name="size" #sizeInput="ngModel" ngModel required>
            <mat-icon matSuffix>photo_size_select_small</mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Bedrooms</mat-label>
            <input matInput placeholder="Bedrooms" name="bedrooms" #bedroomsInput="ngModel" ngModel required>
            <mat-icon matSuffix>airline_seat_individual_suite</mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bathrooms</mat-label>
            <input matInput placeholder="Bathrooms" name="bathrooms" #bathroomsInput="ngModel" ngModel required>
            <mat-icon matSuffix>wc</mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Garages</mat-label>
            <input matInput placeholder="Garages" name="garages" #garagesInput="ngModel" ngModel required>
            <mat-icon matSuffix>drive_eta</mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput placeholder="Image URL" name="imageUrl" #imageUrlInput="ngModel" ngModel required>
            <mat-icon matSuffix></mat-icon>
            <mat-hint class="formError">Hint</mat-hint>
          </mat-form-field>
        </div>
        <label id="example-radio-group-label">Pick property label</label>
        <div>
          <mat-radio-group aria-labelledby="example-radio-group-label" name="label" ngModel>
            <mat-radio-button class="radio-btn" *ngFor="let label of labels" [value]="label" requred>
              {{label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button class="create-btn" mat-raised-button color="primary"> Create </button>

      </form>

    </div>
  </div>
</div>