.message-card{
    margin: 15px;
    border: 1px solid #6ccc0d;
}
.message-owner-info{
    margin-bottom: 10px;
}

.readable{
    border: 1px solid #c3c3c3;
}
.message-owner{
    font-size: 17px;
    margin-right: 10px;
    font-weight: 500;
}
.message-email{}
.message-message{}
