<section class="hero">
</section>
<div class="search-bar">
  <mat-form-field class="search-input" style="width:70% !important" appearance="outline">
    <mat-label>Search by tittle!</mat-label>
    <input matInput placeholder="Enter keyword" #searchInput name="email">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="search-btn-container">
    <button (click)="searchHandler(searchInput)" class="search-btn" mat-raised-button color="primary"> Search </button>
    <button (click)="allPropertiesHandler(searchInput)" class="search-btn-all" mat-raised-button color="accent"> All</button>
  </span>
  <div class="card-container">
    <h3>Filter by category</h3>
    <button *ngFor="let category of categories" [value]="category" class="card card-small"
      (click)="findByCategory(category)">
      <mat-icon matSuffix>search</mat-icon>
      <span>{{category}}</span>
    </button>
  </div>
</div>
<section id="new-properties">
  <div style="text-align: center; margin-top: 57px;">
    <h2>All Properties</h2>
    <p>Find your dream property!</p>
  </div>
  <div class="spinner-loading" *ngIf="!properties">
    <h2>Loading...</h2>
    <mat-spinner style="margin: auto;"></mat-spinner>
  </div>
  <div class="container-properties">
    <app-property-item *ngFor="let property of properties" [property]="property"></app-property-item>
  </div>
</section>

