
<div class="test">
    
    <input #name>
    <button (click)='btnClickHandler(name)'>CLICK ME</button>
    {{title}}

    <input #inputElement >
    <button class="button" (click)='changeTitleHandler(inputElement)'>CLICK ME</button>
    {{title2}}
    
    <ul>
        <li class="user" *ngFor="let user of users">
            {{user.name}}
        </li>
    </ul>


    <button (click)="toggleActive()">Toggle</button>
    <ng-template #isActiveTemplate>
      Is Active
    </ng-template>
    <ng-template #isNotActiveTemplate>
      Is not Active
    </ng-template>

    <ng-container *ngTemplateOutlet="isActive ? isActiveTemplate : isNotActiveTemplate"></ng-container>

</div>