.test{
    width: 900px;
    display: flex;
    background: lightslategray;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.user{
    background: white;
    color: gray;
    margin: 3px;
    padding: 5px;
}