<div class="errors" *ngIf="error">
  <h2>{{error}} <a routerLink="/login">Login</a></h2>
</div>
<div class="container">
    <div class="create-wrapper">
      <h2>Edit Property</h2>
      <div class="login-form">
        <div *ngIf="!property">
          <h2>Loading...</h2>
          <mat-spinner style="margin: auto;"></mat-spinner>
        </div>
        <form #form="ngForm"(ngSubmit)="onEditSubmit(form)" *ngIf="property">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput name="title" #titleInput="ngModel" ngModel="{{property.title}}" required>
              <mat-icon matSuffix>title</mat-icon>
              <mat-hint *ngIf="titleInput.invalid && titleInput.touched" class="formError">Title URL is required!</mat-hint>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Adress</mat-label>
              <input matInput name="adress" #adressInput="ngModel" ngModel="{{property.adress}}" required>
              <mat-icon matSuffix>location_on</mat-icon>
              <mat-hint *ngIf="adressInput.invalid && adressInput.touched" class="formError">Adress URL is required!</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Price</mat-label>
              <input matInput name="price" #priceInput="ngModel" ngModel="{{property.price}}" required>
              <mat-icon matSuffix>euro_symbol</mat-icon>
              <mat-hint *ngIf="priceInput.invalid && priceInput.touched" class="formError">Price URL is required!</mat-hint>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Property size - m²</mat-label>
              <input matInput name="size" #sizeInput="ngModel" ngModel="{{property.size}}" required>
              <mat-icon matSuffix>photo_size_select_small</mat-icon>
              <mat-hint *ngIf="sizeInput.invalid && sizeInput.touched" class="formError">Property size URL is required!</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Bedrooms</mat-label>
              <input matInput name="bedrooms" #bedroomsInput="ngModel" ngModel="{{property.bedrooms}}" required>
              <mat-icon matSuffix>airline_seat_individual_suite</mat-icon>
              <mat-hint *ngIf="bedroomsInput.invalid && bedroomsInput.touched" class="formError">Bedrooms URL is required!</mat-hint>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Bathrooms</mat-label>
              <input matInput name="bathrooms" #bathroomsInput="ngModel" ngModel="{{property.bathrooms}}" required>
              <mat-icon matSuffix>wc</mat-icon>
              <mat-hint *ngIf="bathroomsInput.invalid && bathroomsInput.touched" class="formError">Bathrooms URL is required!</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Garages</mat-label>
              <input matInput name="garages" #garagesInput="ngModel" ngModel="{{property.garages}}" required>
              <mat-icon matSuffix>drive_eta</mat-icon>
              <mat-hint *ngIf="garagesInput.invalid && garagesInput.touched" class="formError">Garages URL is required!</mat-hint>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Image URL</mat-label>
              <input matInput name="imageUrl" #imageUrlInput="ngModel" ngModel="{{property.imageUrl}}" required>
              <mat-icon matSuffix></mat-icon>
              <mat-hint *ngIf="imageUrlInput.invalid && imageUrlInput.touched" class="formError">Image URL is required!</mat-hint>
            </mat-form-field>
          </div>
          <label id="example-radio-group-label"><h3>Pick your property label</h3></label>
          <div>
            <mat-radio-group aria-labelledby="example-radio-group-label" name="label" ngModel="{{property.label}}">
              <mat-radio-button class="radio-btn" *ngFor="let label of labels" [value]="label" requred>
                {{label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div style="padding: 30px;">
            <label id="category"><h3>Select category</h3></label>
            <div >
              <mat-radio-group aria-labelledby="category" name="category" ngModel="{{property.category}}" requred>
                <mat-radio-button class="radio-btn" *ngFor="let category of categories" [value]="category" >
                  {{category}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <button class="create-btn" mat-raised-button color="primary"> Edit </button>
  
        </form>
  
      </div>
    </div>
  </div>
