
.spacer {
  flex: 1;
}

a.active{
  color: #22beff;
}



.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #15294d;
    color: white;
    font-weight: 600;
    z-index: 9999;
    padding: 0 20px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 30%);
}


.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}
.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
.navLink {
  margin: 0 8px;
  color: white;
}
.submit-add-btn {
  background: white;
  color: #15294d;
  padding: 10px 20px;
  margin: 0 8px;
}

