<section id="favorite-properties">
  <div class="favorite-properties-title">
    <h2>My favorite properties</h2>
    <div *ngIf="!properties" class="missing-properties-message">
      <h2>You still don't have any favorite properties...</h2>
      <button routerLink="/properties" mat-raised-button color="primary">See all propertyes</button>
    </div>
  </div>
  <div class="container-properties">
      <app-property-item *ngFor="let property of properties" [property]="property" [favorite]="favorite" (deteteFavorite)="deletedFavoriteProperty()"></app-property-item>
      
  </div>
</section>