<div class="dashboard-container">
  <div class="dashboard-menu">
    <div class="dashboard-user">
      <div class="dashboard-user-image-container">
        <img mat-card-image class="dashboard-user-image"
          src="http://localhost:4200/assets/profile-image.jpg" alt="user image">
      </div>
      <div class="dashboard-user-info">
        <h3 class="dashbord-user-name">{{userData?.displayName}}</h3>
        <p class="dashbord-user-email">{{userData?.email}}</p>
      </div>
      <button routerLink="/dashboard/create" mat-raised-button color="accent">Submit Add</button>
    </div>
    <div class="dashboard-nav">
      <mat-list role="list">
        <a routerLink="/dashboard/profile">
          <mat-list-item role="listitem" class="dashboard-link">
            <mat-icon aria-hidden="false" class="dashboard-menu-icon">account_circle</mat-icon> Profile
          </mat-list-item>
        </a>
        <a routerLink="/dashboard/my-properties">
          <mat-list-item role="listitem" class="dashboard-link">
            <mat-icon aria-hidden="false" class="dashboard-menu-icon">list_alt</mat-icon>My properties
          </mat-list-item>
        </a>
        <a routerLink="/dashboard/favorites">
          <mat-list-item role="listitem" class="dashboard-link">
            <mat-icon aria-hidden="false" class="dashboard-menu-icon">favorite</mat-icon>My favorite
          </mat-list-item>
        </a>
        <a routerLink="/dashboard/messages">
          <mat-list-item role="listitem" class="dashboard-link">
            <mat-icon aria-hidden="false" class="dashboard-menu-icon">message</mat-icon>Messages
          </mat-list-item>
        </a>
      </mat-list>
    </div>
  </div>
  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>